---
import Layout from '@layouts/Layout.astro';
import HeaderLanding from '@components/header-landing.astro';
import HeroSection from '@components/hero-section.astro';
import QuickStart from '@components/quick-start.astro';
import Features from '@components/features.astro';
import BundleSizeComparison from '@components/bundle-size-comparison.astro';
import Footer from '@components/footer.astro';
---

<Layout>
  <div class="min-h-screen w-full flex flex-col items-center bg-primary py-8">
    <div class="max-w-6xl w-full min-h-screen mx-auto px-4 sm:px-6 lg:px-8">
      <HeaderLanding />
      <main>
        <HeroSection />
        <QuickStart />
        <Features />
        <BundleSizeComparison />
      </main>
      <Footer />
    </div>
  </div>
</Layout>
